.member{
    min-height: 100vh;
    font-family: 'Varela Round';
}
p {
    font-family: proxima-soft, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #ff4a4a
}

.member{
    min-height: 100vh;
}

/* pop out info */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.25); */
    min-height: 100vh;
}

.modal_content {
    background-color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    height: 25%;
    width: 20%;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    border-radius:10px;
    text-align: center;
    
}

.close {
    position: absolute;
    right: 3%;
    border-radius:2px;
    font-family: 'Varela Round';
    font-weight: bold;
    background-color:rgb(255, 163, 64);
    padding:4px 5px;
    
}
.notifyFont{
    margin-top: 10%;
    margin-right: 15%;
    margin-left: 15%;
    font-family: 'Varela Round';
    font-weight: bold;
    color: #263d79
}

.emial_verify{
    background-color: rgb(255, 235, 201);
    position: relative;
    margin-top: 5%;
    left: 32%;
    height: 35%;
    width: 33%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius:10px;
    /* border: 8px solid #bd6b1e; */
    text-align: left;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.emial_verify_font{
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 16%;
    font-family: 'Varela Round';
    font-weight: bold;
    color: #938558
    /* #6282b8 */
}
.importantfont{
    color: #938558
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:10px;
	border:2px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family: 'Varela Round';
	font-size:15px;
	font-weight:bold;
	padding:12px 26px;
	text-decoration:none;
	text-shadow:0px -1px 4px #ded17c;
    z-index: 1px;
}
.myButton{
    position: relative;
    margin-top: 5%;
    margin-left: 22%;
    margin-bottom: 20px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	background-color:#f2ab1e;
}
.myButton:active {
	position:relative;
	top:1px;
}

