
.smallTitle{
    color: red;
    text-align: right;
    margin: 0px;
    margin-bottom: 20px;
}
.title{
    color: rgb(43, 43, 138);
    font-size: 16px;
    font-family: 'Varela Round';
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
.time{
    color: rgb(255, 167, 74);
    font-size: 15px;
    font-family: 'Varela Round';
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}
.player{
    color: black;
    font-size: 15px;
    font-family: 'Varela Round';
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
.score{
    color: rgb(219, 0, 154);
    font-size: 15px;
    font-family: 'Varela Round';
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
.info{
    color: gray;
    font-size: 15px;
    font-family: 'Varela Round';
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}
/* pop out info */
.modal {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 100vh;
}

.modal_content {
    background-color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    height: 25%;
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius:10px;
    text-align: center;
}

.close {
    position: absolute;
    right: 3%;
    border-radius:2px;
    font-family: 'Varela Round';
    font-weight: bold;
    background-color:rgb(255, 163, 64);
    padding:4px 5px;
    
}
.notifyFont{
    margin-top: 10%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: left;
    font-family: 'Varela Round';
    font-weight: bold;
    color: #263d79
}